<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>475024100422-eovg4mgtmiua77d3fudk6d1469t76nkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475024100422-eovg4mgtmiua77d3fudk6d1469t76nkq</string>
	<key>API_KEY</key>
	<string>AIzaSyDdi2W6L8EZnCJ_q5M82gyQ7tMIbs-eKXw</string>
	<key>GCM_SENDER_ID</key>
	<string>475024100422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Astra.com.Firestories</string>
	<key>PROJECT_ID</key>
	<string>test-2a3bf</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2a3bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:475024100422:ios:c0d48d82d27a42f0</string>
	<key>DATABASE_URL</key>
	<string>https://test-2a3bf.firebaseio.com</string>
</dict>
</plist>